<div class="container">

  <div class="parteSuperior">
    <h1>Lista de Produtos</h1>

    <!-- Botão de Login -->
    <div class="toolbar">
      <button class="btn-login" [routerLink]="['/login']">Login</button>
    </div>

  </div>


  <!-- Tabela de Produtos -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.status }}</td>
        <td>{{ produto.preco | currency: 'BRL' : 'symbol' : '1.2-2' }}</td>
        <td>{{ produto.quantidadeEstoque }}</td>
      </tr>
    </tbody>
  </table>

</div>