.mainMonitoamentoGeral {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 1444px;

  .menuSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0;
    }
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;

  &.btn-update {
    background-color: #28a745;
    color: white;

    &:hover {
      background-color: #218838;
    }
  }

  &.btn-delete {
    background-color: #dc3545;
    color: white;
    margin-left: 10px;
    &:hover {
      background-color: #c82333;
    }
  }

  &.btn-add {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.btn-logout {
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

.menuSuperior,
.addUsuario,
.add-produto-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  .btn-add {
    background-color: #007bff;
    color: white;
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #0056b3;
      transform: translateY(-2px);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
    }

    &:active {
      background-color: #004085;
      transform: translateY(1px);
    }
  }
}

.usuario,
.produtos {
  margin-top: 20px;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }

  button {
    padding: 0.4rem 0.8rem;
  }

  .btn-add {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }
}
