<div class="mainMonitoamentoGeral">

  <div class="menuSuperior">
    <h1>Monitoramento Geral</h1>

    <button (click)="onLogout()" class="btn-logout">Sair</button>
  </div>

  <div class="usuario">
    <div *ngIf="userRole === 'gerente' || userRole === 'Gerente'">

      <h2>Usuários</h2>
      <div class="addUsuario">
        <button (click)="onAddUsuario()" class="btn-add">Adicionar Usuário</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>
              <button (click)="onUpdateUsuario(usuario.id)" class="btn-update">Atualizar</button>
              <button (click)="onDeleteUsuario(usuario.id)" class="btn-delete">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="produtos">
    <h2>Produtos</h2>

    <div *ngIf="userRole === 'gerente' || userRole === 'Gerente'" class="add-produto-container">
      <button (click)="onAddProduto()" class="btn-add">Adicionar Produto</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.status }}</td>
          <td>{{ produto.preco | currency: 'BRL' : 'symbol' : '1.2-2' }}</td>
          <td>{{ produto.quantidadeEstoque }}</td>
          <td>
            <button (click)="onUpdateProduto(produto.id)" class="btn-update">Atualizar</button>
            <button *ngIf="userRole === 'gerente' || userRole === 'Gerente'" (click)="onDeleteProduto(produto.id)"
              class="btn-delete">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>